<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4">Trending Today</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">Trending</div>
        <div class="col-sm-3">Trending</div>
        <div class="col-sm-3">Trending</div>
        <div class="col-sm-3">Trending</div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p class="h4">Popular Post</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">Left column</div>
        <div class="col-4">
            <p class="h5 mb-4">Up and coming Communities</p>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <%= link_to "View all", "", class: "btn btn-primary mt-3" %>
        </div>
    </div>
</div>